# DATABASE Configuration
DATABASE_URL=postgres://postgres:@localhost:5432/mymood
TEST_DATABASE_URL=postgres://postgres:@localhost:5432/mymood_test

# NODE ENVIRONMENT
# development | production | test
# default: development
NODE_ENV=development

# Password hash
# Default: bcrypt
PASSWORD_HASH=10

# Token secret
# Default: secret
TOKEN_SECRET=secret


# Token expiration
# Default: 1h
TOKEN_EXPIRATION=1h

# Log
# Manage login
# Enable login
# type: boolean
# default: true
LOG_ENABLED=true

# Log level
# type: string
# values: info, debug
# default: info
LOG_LEVEL=info

# human logs
# default: false
# values: false, compact
LOG_FOR_HUMANS_FORMAT=false

# Enable debuging
# type: boolean
# default: false
DEBUG_ENABLED=false


# ---------------
# Emailing
# Enable or disable mail sending
# type: boolean
# default: false
MAILING_ENABLED=false

# Enabled test account
# type: boolean
# default: false
MAIL_TEST_ACCOUNT_ENABLED=false

# Mail service
# type: string
# required if MAILING_ENABLED is true
# MAILING_SERVICE=

# Mail secure
# type: boolean
# default: true
MAILING_SECURE=true

# Mail port
# type: number
# default: 465 if MAILING_SECURE is true, 587 otherwise
MAILING_PORT=465

# Mail user
# type: string
# required if MAILING_ENABLED is true
# MAILING_USER=

# Mail password
# type: string
# required if MAILING_ENABLED is true
# MAILING_PASSWORD=


# ---------------
# Base url
# Base url for email links and redirection from api to web site
BASE_URL="http://localhost:5173/#/"
